
:root {
    --primary-color: #007bff;
    --secondary-color: #ff6600;
    --font-family: 'Montserrat', sans-serif;

}

/* Общие стили для всего документа */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}


/* Стили для контейнера */
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Стили для навигационной панели */
.navbar a:hover {
    border: 1px solid black;
    transition: border 0.2s;
}

.navbar a:last-child {
    margin-right: 0;
}

/* Стили для категорий */
.category-link {
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 280px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.2s;
    overflow: hidden;
}

.category-link:hover {
    background-color: #f0f0f0;
}

.category-link img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.category-link > img {
    margin-bottom: 10px;
}

/* Обновленные стили для заголовков */
h1, h2, h3, h4, h5, h6 {
    font-size: 24px;
    margin: 20px 0;
}

/* Стили для шапки */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Обновленные стили для контейнера шапки */
.container.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для навигационного меню */
/* Стили для списка меню */
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Стили для элементов списка */
.nav li {
    margin-right: 20px;
}

/* Стили для ссылок внутри элементов списка */
.nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.2s;
}

/* Изменение цвета ссылок при наведении */
.nav a:hover {
    color: var(--primary-color);
}

/* Стили для поиска */
.search {
    flex-grow: 1;
    margin: 0 20px;
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
}

/* Стили для корзины, регистрации и входа */
.cart, .reg, .log {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

/* Стили для формы */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
p{
    font-size: 18px;
}